.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-right: 10px;
}

.checkbox-inline, .radio-inline {
    padding-right: 20px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 5px;
}